body {
  font-family: "Open Sans", sans-serif;
}

main section{

  margin-top: 130px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 100px;
}
.nav_title {
  color: #181818;
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
}

.primary_color {
  color: #fd6e0a;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 50px;
}

nav a {
  text-decoration: none;
}

.btn_primary {
  border-radius: 5px;
  color: antiquewhite;
  background-color: #fd6e0a;
  border: 0;
  font-size: 20px;
  font-weight: 700;
  padding: 10px 25px;
}

.header {
  background-color: #fff8f3;
  background-image: url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 700px;
}

.banner {
  padding: 30px 30px 0px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-content {
  max-width: 500px;
}

.banner .profile-pic {
  width: 400px;
}

.banner-greeting {
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 0px;
}

.nav_title {
  font-size: 85px;
  font-weight: 700;
}
.banner-discription {
  margin-top: 0px;
}

/* main  */

main {
  max-width: 1140px;
  margin: 0 auto;
}

/* about section */

.about {
  padding: 130px;
  border-radius: 10px;
  background: #fff8f3;
  margin-top: 130px;
}

.about-info-container {
  display: flex;
  justify-content: space-around;
}
.about-info {
  text-align: center;
}

.info-title {
  color: #757575;
  text-align: center;
  font-size: 15px;
  line-height: 0px;
}

.section-title {
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}

.section-description {
  color: #757575;
  text-align: center;
  font-size: 18px;
}

/* what i do section start */

#what-i-description {
  padding: 0px 115px;
}

/* skills style */

.skill-container {
  display: flex;
  margin-top: 100px;
  gap: 24px;
}

.skills {
  padding: 30px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

/* resume section  */

.resume-container{

display: flex;

}
